In [1]:
import pandas as pd

In [6]:
  df = pd.read_excel(r'Superstore_USA.xlsx' , sheet_name = 'Orders')

In [7]:
 df1 =pd.read_excel(r'Superstore_USA.xlsx' , sheet_name = 'Returns')

In [8]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [9]:
df1

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [16]:
q =df1[['Order ID' , 'Status']]

In [17]:
w = df[['Product Name' , 'Order ID']]

In [20]:
pd.merge(q,w,how = 'inner')

    Order ID    Status                                       Product Name
0        612  Returned                                         Xerox 1928
1        612  Returned                                               6190
2       4610  Returned  80 Minute Slim Jewel Case CD-R , 10/Pack - Sta...
3       4610  Returned         #10 White Business Envelopes,4 1/8 x 9 1/2
4       7079  Returned  Hon 2090 “Pillow Soft” Series Mid Back Swivel/...
..       ...       ...                                                ...
93     57638  Returned  Chromcraft Bull-Nose Wood Round Conference Tab...
94     57638  Returned       Personal Creations™ Ink Jet Cards and Labels
95     57638  Returned  Kleencut® Forged Office Shears by Acme United ...
96     59009  Returned                                          Xerox 197
97     59937  Returned                                          Xerox 197

[98 rows x 3 columns]

In [239]:
ds = pd.merge(df,df1 , left_on = 'Order ID' ,right_on = 'Order ID' , how = 'inner')

In [238]:
 dr = pd.read_excel(r'Superstore_USA.xlsx' , sheet_name = 'Users')

In [38]:
len(df['Customer Name'].unique())

2703

In [40]:
len(pd.DataFrame(df["Customer Name"].unique()))

2703

In [60]:
s =pd.DataFrame(df['Ship Mode'])

In [62]:
r= (len(df[df['Ship Mode']=='Regular Air'])/len(s))*100

In [73]:
e = (len( df[df['Ship Mode']== 'Express Air'])/len(s))*100

In [77]:
df['Ship Mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [98]:
d = (len(df[df['Ship Mode'] == 'Delivery Truck'])/len(s))*100

In [104]:
print('for mode regular air' ,":",r,"%" , "\n""for mode Express air :" , e,"%", "\n""for mode Delivery Truck :",d,"%" )

for mode regular air : 74.64460004243581 %
for mode Express air : 11.744112030553786 %
for mode Delivery Truck : 13.611287927010396 %

In [108]:
df['conv_order_date']= pd.to_datetime(df['Order Date'])

In [110]:
df['con_ship_date'] = pd.DataFrame(df['Ship Date'])

In [155]:
df['delivery_time'] = pd.DataFrame( df['conv_order_date'] - df['con_ship_date'])

In [145]:
df.groupby(df['conv_order_date'] - df['con_ship_date'])['Order ID']

In [156]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2012-05-28,2012-05-30,-2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,2010-07-07,2010-07-08,-1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,2011-07-27,2011-07-28,-1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,2011-07-27,2011-07-28,-1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,2011-07-27,2011-07-27,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,2013-05-14,2013-05-15,-1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,2013-05-14,2013-05-14,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14,-2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,2010-02-08,2010-02-11,-3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2013-09-12,2013-09-14,-2 days

In [178]:
sd = df[['delivery_time' , 'Order ID']]

In [192]:
sd[sd['delivery_time'] == sum(sd['delivery_time'])]['Order ID']

TypeError: unsupported operand type(s) for +: 'int' and 'Timedelta'

In [199]:
sum['delivery_time']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [200]:
sd[sd['delivery_time'] == sum(sd['delivery_time'])]['Order ID']

TypeError: unsupported operand type(s) for +: 'int' and 'Timedelta'

In [201]:
sd['delivery_time'] = sd['delivery_time'].astype(str)

C:\Users\admin\AppData\Local\Temp\ipykernel_1160\627138460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sd['delivery_time'] = sd['delivery_time'].astype(str)

In [202]:
sd.dtypes

delivery_time    object
Order ID          int64
dtype: object

In [203]:
sd['delivery_time'] = sd['delivery_time'].str.replace('days' , '')

C:\Users\admin\AppData\Local\Temp\ipykernel_1160\382127981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sd['delivery_time'] = sd['delivery_time'].str.replace('days' , '')

In [204]:
sd

     delivery_time  Order ID
0              -2      88525
1              -1      88522
2              -1      88523
3              -1      88523
4               0      88523
...            ...       ...
9421           -1      87532
9422            0      87532
9423           -2      87533
9424           -3      87530
9425           -2      87533

[9426 rows x 2 columns]

In [205]:
sd['delivery_time'] = sd['delivery_time'].astype(int)

C:\Users\admin\AppData\Local\Temp\ipykernel_1160\1207822710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sd['delivery_time'] = sd['delivery_time'].astype(int)

In [209]:
sd['delivery_time'] == sum('delivery_time')['Order ID']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [217]:
c

      delivery_time
0             False
1             False
2             False
3             False
4             False
...             ...
9421          False
9422          False
9423          False
9424          False
9425          False

[9426 rows x 1 columns]

In [306]:
sd[sd['delivery_time'] < -10]

      delivery_time  Order ID
643             -84     87215
1548            -11     86318
1549            -15     86318
1678            -17     87957
1679            -11     87957
1680            -28     87957
1697            -17     19556
1698            -11     19556
1699            -28     19556
2515            -92     86177
5548            -14     88223
5673            -17     88352
5859            -22     87572
5881            -24     91294
8607            -18     86434
8609            -17     86436
8610            -19     86436
8973            -19     87300
8982            -27     19841
8983            -31     19841
8993            -19     19841
8996            -27     87300
8997            -31     87300

In [227]:
sd

      delivery_time  Order ID
0                -2     88525
1                -1     88522
2                -1     88523
3                -1     88523
4                 0     88523
...             ...       ...
9421             -1     87532
9422              0     87532
9423             -2     87533
9424             -3     87530
9425             -2     87533

[9426 rows x 2 columns]

In [291]:
pd.merge(dr,ds , left_on = 'Region' , right_on = 'Region' , how = 'inner')

,Region,Manager,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Status
0,Central,Chris,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,...,2012-06-11,2012-06-12,-60.720,36,208.73,24519,2012-06-11,2012-06-12,-1 days,Returned
1,Central,Chris,7659,Critical,0.06,5.98,5.46,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-29,-57.640,63,389.67,54914,2012-08-28,2012-08-29,-1 days,Returned
2,Central,Chris,7660,Critical,0.06,12.44,6.27,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-30,-27.830,14,181.16,54914,2012-08-28,2012-08-30,-2 days,Returned
3,Central,Chris,4697,High,0.08,10.35,0.99,1106,Maxine Collier Grady,Regular Air,...,2013-10-19,2013-10-21,113.630,59,567.41,33477,2013-10-19,2013-10-21,-2 days,Returned
4,Central,Chris,7106,High,0.04,304.99,19.99,1630,Jimmy Han,Regular Air,...,2013-02-27,2013-03-01,3793.703,33,9758.70,50721,2013-02-27,2013-03-01,-2 days,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,West,William,4628,Low,0.08,12.44,6.27,3004,Maurice Everett,Regular Air,...,2011-02-15,2011-02-20,-60.790,25,298.11,32931,2011-02-15,2011-02-20,-5 days,Returned
94,West,William,985,Not Specified,0.02,54.20,11.10,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-04,57.232,3,172.04,7107,2013-01-04,2013-01-04,0 days,Returned
95,West,William,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-06,-33.968,3,113.14,7107,2013-01-04,2013-01-06,-2 days,Returned
96,West,William,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-05,163.120,35,1886.52,7107,2013-01-04,2013-01-05,-1 days,Returned
97,West,William,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,...,2013-06-25,2013-06-27,-22.560,12,73.71,42823,2013-06-25,2013-06-27,-2 days,Returned

In [244]:
rm

,Region,Manager,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Status
0,Central,Chris,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,...,2012-06-11,2012-06-12,-60.720,36,208.73,24519,2012-06-11,2012-06-12,-1 days,Returned
1,Central,Chris,7659,Critical,0.06,5.98,5.46,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-29,-57.640,63,389.67,54914,2012-08-28,2012-08-29,-1 days,Returned
2,Central,Chris,7660,Critical,0.06,12.44,6.27,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-30,-27.830,14,181.16,54914,2012-08-28,2012-08-30,-2 days,Returned
3,Central,Chris,4697,High,0.08,10.35,0.99,1106,Maxine Collier Grady,Regular Air,...,2013-10-19,2013-10-21,113.630,59,567.41,33477,2013-10-19,2013-10-21,-2 days,Returned
4,Central,Chris,7106,High,0.04,304.99,19.99,1630,Jimmy Han,Regular Air,...,2013-02-27,2013-03-01,3793.703,33,9758.70,50721,2013-02-27,2013-03-01,-2 days,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,West,William,4628,Low,0.08,12.44,6.27,3004,Maurice Everett,Regular Air,...,2011-02-15,2011-02-20,-60.790,25,298.11,32931,2011-02-15,2011-02-20,-5 days,Returned
94,West,William,985,Not Specified,0.02,54.20,11.10,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-04,57.232,3,172.04,7107,2013-01-04,2013-01-04,0 days,Returned
95,West,William,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-06,-33.968,3,113.14,7107,2013-01-04,2013-01-06,-2 days,Returned
96,West,William,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-05,163.120,35,1886.52,7107,2013-01-04,2013-01-05,-1 days,Returned
97,West,William,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,...,2013-06-25,2013-06-27,-22.560,12,73.71,42823,2013-06-25,2013-06-27,-2 days,Returned

In [282]:
rm['delivery_time'] = rm['delivery_time'].astype(str)

In [283]:
rm['delivery_time'] = rm['delivery_time'].str.replace('days' , '')

In [284]:
rm['delivery_time'] = rm['delivery_time'].astype(int)

In [285]:
rm[rm['delivery_time']<-10]

Empty DataFrame
Columns: [Region, Manager, Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, conv_order_date, con_ship_date, delivery_time, Status]
Index: []

[0 rows x 29 columns]

In [265]:
len(rm)

98

In [268]:
rm[rm['delivery_time' , 'Region' , 'Manager' , 'Order ID']]

KeyError: ('delivery_time', 'Region', 'Manager', 'Order ID')

In [271]:
rm.groupby(['delivery_time' , 'Region'])['Manager']

In [286]:
rm[['delivery_time' , 'Region' , 'Manager', 'Order ID']]

    delivery_time   Region  Manager  Order ID
0              -1  Central    Chris     24519
1              -1  Central    Chris     54914
2              -2  Central    Chris     54914
3              -2  Central    Chris     33477
4              -2  Central    Chris     50721
..            ...      ...      ...       ...
93             -5     West  William     32931
94              0     West  William      7107
95             -2     West  William      7107
96             -1     West  William      7107
97             -2     West  William     42823

[98 rows x 4 columns]

In [287]:
rm['delivery_time'] == sum(rm['delivery_time'])['Region']

TypeError: 'int' object is not subscriptable

In [278]:
rm

,Region,Manager,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Status
0,Central,Chris,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,...,2012-06-11,2012-06-12,-60.720,36,208.73,24519,2012-06-11,2012-06-12,-188,Returned
1,Central,Chris,7659,Critical,0.06,5.98,5.46,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-29,-57.640,63,389.67,54914,2012-08-28,2012-08-29,-188,Returned
2,Central,Chris,7660,Critical,0.06,12.44,6.27,1106,Maxine Collier Grady,Regular Air,...,2012-08-28,2012-08-30,-27.830,14,181.16,54914,2012-08-28,2012-08-30,-188,Returned
3,Central,Chris,4697,High,0.08,10.35,0.99,1106,Maxine Collier Grady,Regular Air,...,2013-10-19,2013-10-21,113.630,59,567.41,33477,2013-10-19,2013-10-21,-188,Returned
4,Central,Chris,7106,High,0.04,304.99,19.99,1630,Jimmy Han,Regular Air,...,2013-02-27,2013-03-01,3793.703,33,9758.70,50721,2013-02-27,2013-03-01,-188,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,West,William,4628,Low,0.08,12.44,6.27,3004,Maurice Everett,Regular Air,...,2011-02-15,2011-02-20,-60.790,25,298.11,32931,2011-02-15,2011-02-20,-188,Returned
94,West,William,985,Not Specified,0.02,54.20,11.10,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-04,57.232,3,172.04,7107,2013-01-04,2013-01-04,-188,Returned
95,West,William,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-06,-33.968,3,113.14,7107,2013-01-04,2013-01-06,-188,Returned
96,West,William,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,...,2013-01-04,2013-01-05,163.120,35,1886.52,7107,2013-01-04,2013-01-05,-188,Returned
97,West,William,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,...,2013-06-25,2013-06-27,-22.560,12,73.71,42823,2013-06-25,2013-06-27,-188,Returned

In [290]:
rm[rm['delivery_time'] < -10]

Empty DataFrame
Columns: [Region, Manager, Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, conv_order_date, con_ship_date, delivery_time, Status]
Index: []

[0 rows x 29 columns]

In [292]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2012-05-28,2012-05-30,-2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,2010-07-07,2010-07-08,-1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,2011-07-27,2011-07-28,-1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,2011-07-27,2011-07-28,-1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,2011-07-27,2011-07-27,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,2013-05-14,2013-05-15,-1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,2013-05-14,2013-05-14,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14,-2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,2010-02-08,2010-02-11,-3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2013-09-12,2013-09-14,-2 days

In [293]:
df['delivery_time']= df['delivery_time'].astype(str)

In [294]:
df['delivery_time']= df['delivery_time'].str.replace('days' , '')

In [295]:
df['delivery_time']= df['delivery_time'].astype(int)

In [296]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2012-05-28,2012-05-30,-2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,2010-07-07,2010-07-08,-1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,2011-07-27,2011-07-28,-1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,2011-07-27,2011-07-28,-1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,2011-07-27,2011-07-27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,2013-05-14,2013-05-15,-1
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,2013-05-14,2013-05-14,0
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14,-2
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,2010-02-08,2010-02-11,-3
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2013-09-12,2013-09-14,-2

In [298]:
df2 = pd.merge(df , dr , how = 'inner')

In [300]:
df3 =pd.merge(df2 , df1 , how = 'inner')

In [305]:
df3[df3['delivery_time'] > -10]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Manager,Status
0,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,Consumer,Office Supplies,...,2012-06-12,-60.720000,36,208.73,24519,2012-06-11,2012-06-12,-1,Chris,Returned
1,7659,Critical,0.06,5.98,5.46,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2012-08-29,-57.640000,63,389.67,54914,2012-08-28,2012-08-29,-1,Chris,Returned
2,7660,Critical,0.06,12.44,6.27,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2012-08-30,-27.830000,14,181.16,54914,2012-08-28,2012-08-30,-2,Chris,Returned
3,4697,High,0.08,10.35,0.99,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2013-10-21,113.630000,59,567.41,33477,2013-10-19,2013-10-21,-2,Chris,Returned
4,7106,High,0.04,304.99,19.99,1630,Jimmy Han,Regular Air,Home Office,Office Supplies,...,2013-03-01,3793.703000,33,9758.70,50721,2013-02-27,2013-03-01,-2,Chris,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,5257,Low,0.09,550.98,64.59,349,Kim Weiss,Delivery Truck,Home Office,Furniture,...,2012-09-11,-1770.965977,76,40136.93,37414,2012-09-09,2012-09-11,-2,Sam,Returned
94,6643,Critical,0.02,5.98,5.46,349,Kim Weiss,Regular Air,Home Office,Office Supplies,...,2012-12-11,-80.903900,62,374.26,47265,2012-12-10,2012-12-11,-1,Sam,Returned
95,7966,High,0.05,7.99,5.03,1060,Gene Gilliam,Regular Air,Small Business,Technology,...,2011-02-05,-147.090020,34,232.42,56931,2011-02-03,2011-02-05,-2,Sam,Returned
96,1952,Critical,0.05,70.71,37.58,1959,Bonnie Matthews Rowland,Regular Air,Home Office,Furniture,...,2013-09-24,-1157.911300,63,4310.92,13984,2013-09-24,2013-09-24,0,Sam,Returned
97,8251,Critical,0.02,30.98,17.08,2882,Andrew Gonzalez,Express Air,Consumer,Office Supplies,...,2012-11-20,-9.336600,65,2103.64,59009,2012-11-18,2012-11-20,-2,Sam,Returned

In [307]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,2012-05-28,2012-05-30,-2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,2010-07-07,2010-07-08,-1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,2011-07-27,2011-07-28,-1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,2011-07-27,2011-07-28,-1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,2011-07-27,2011-07-27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,2013-05-14,2013-05-15,-1
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,2013-05-14,2013-05-14,0
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14,-2
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,2010-02-08,2010-02-11,-3
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,2013-09-12,2013-09-14,-2

In [308]:
df3

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Manager,Status
0,3435,Critical,0.03,5.34,5.63,1106,Maxine Collier Grady,Regular Air,Consumer,Office Supplies,...,2012-06-12,-60.720000,36,208.73,24519,2012-06-11,2012-06-12,-1,Chris,Returned
1,7659,Critical,0.06,5.98,5.46,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2012-08-29,-57.640000,63,389.67,54914,2012-08-28,2012-08-29,-1,Chris,Returned
2,7660,Critical,0.06,12.44,6.27,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2012-08-30,-27.830000,14,181.16,54914,2012-08-28,2012-08-30,-2,Chris,Returned
3,4697,High,0.08,10.35,0.99,1106,Maxine Collier Grady,Regular Air,Small Business,Office Supplies,...,2013-10-21,113.630000,59,567.41,33477,2013-10-19,2013-10-21,-2,Chris,Returned
4,7106,High,0.04,304.99,19.99,1630,Jimmy Han,Regular Air,Home Office,Office Supplies,...,2013-03-01,3793.703000,33,9758.70,50721,2013-02-27,2013-03-01,-2,Chris,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,5257,Low,0.09,550.98,64.59,349,Kim Weiss,Delivery Truck,Home Office,Furniture,...,2012-09-11,-1770.965977,76,40136.93,37414,2012-09-09,2012-09-11,-2,Sam,Returned
94,6643,Critical,0.02,5.98,5.46,349,Kim Weiss,Regular Air,Home Office,Office Supplies,...,2012-12-11,-80.903900,62,374.26,47265,2012-12-10,2012-12-11,-1,Sam,Returned
95,7966,High,0.05,7.99,5.03,1060,Gene Gilliam,Regular Air,Small Business,Technology,...,2011-02-05,-147.090020,34,232.42,56931,2011-02-03,2011-02-05,-2,Sam,Returned
96,1952,Critical,0.05,70.71,37.58,1959,Bonnie Matthews Rowland,Regular Air,Home Office,Furniture,...,2013-09-24,-1157.911300,63,4310.92,13984,2013-09-24,2013-09-24,0,Sam,Returned
97,8251,Critical,0.02,30.98,17.08,2882,Andrew Gonzalez,Express Air,Consumer,Office Supplies,...,2012-11-20,-9.336600,65,2103.64,59009,2012-11-18,2012-11-20,-2,Sam,Returned

In [309]:
df2

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,2012-05-28,2012-05-30,1.32000,2,5.90,88525,2012-05-28,2012-05-30,-2,Chris
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,2010-05-12,2010-05-14,803.47050,16,1164.45,86838,2010-05-12,2010-05-14,-2,Chris
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-12,2010-05-13,-24.03000,7,22.23,86838,2010-05-12,2010-05-13,-1,Chris
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-12,2010-05-13,-37.03000,4,13.99,86838,2010-05-12,2010-05-13,-1,Chris
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-12,2010-05-13,-0.71000,4,14.26,86838,2010-05-12,2010-05-13,-1,Chris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,25689,Critical,0.10,4.98,4.70,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,2013-10-09,2013-10-11,174.38400,15,69.66,88850,2013-10-09,2013-10-11,-2,Sam
9422,26152,Not Specified,0.00,58.14,36.61,3382,Jon Beasley,Delivery Truck,Corporate,Furniture,...,2011-05-21,2011-05-21,12.42600,13,807.21,88842,2011-05-21,2011-05-21,0,Sam
9423,26153,Not Specified,0.00,29.99,5.50,3382,Jon Beasley,Regular Air,Corporate,Technology,...,2011-05-21,2011-05-22,-94.55600,7,218.15,88842,2011-05-21,2011-05-22,-1,Sam
9424,26154,Not Specified,0.03,16.16,7.74,3382,Jon Beasley,Regular Air,Corporate,Furniture,...,2011-05-21,2011-05-23,-5257.04634,1,20.17,88842,2011-05-21,2011-05-23,-2,Sam
9425,26140,Not Specified,0.04,5.98,7.15,3382,Jon Beasley,Regular Air,Corporate,Office Supplies,...,2013-10-07,2013-10-09,-85.90400,3,21.86,88849,2013-10-07,2013-10-09,-2,Sam

In [312]:
df2.groupby(['Region'])['Profit'].sum()

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [313]:
df2.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
conv_order_date         datetime64[ns]
con_ship_date           datetime64[ns]
delivery_time                    int32
Manager                         object
dtype: object

In [ ]:
State or Province

In [321]:
 l =pd.DataFrame(df2.groupby(['State or Province'])['Discount'].sum().reset_index())

In [328]:
l[l['Discount'] == max(l['Discount'])]

  State or Province  Discount
3        California     52.28

In [345]:
df2['Postal Code'].unique()

array([60101, 55372, 68005, ..., 30144, 30240, 31204], dtype=int64)

In [346]:
df2.groupby(['Customer Segment'])['Profit'].sum()

Customer Segment
Consumer          206559.625348
Corporate         505538.627783
Home Office       283869.553814
Small Business    316474.592482
Name: Profit, dtype: float64

In [354]:
 h = df2[['Product Sub-Category', 'Profit']].groupby('Product Sub-Category').sum().reset_index()

In [355]:
h

              Product Sub-Category         Profit
0                       Appliances  121651.391380
1   Binders and Binder Accessories  226572.523042
2                        Bookcases   -7708.748564
3               Chairs & Chairmats  165348.882760
4             Computer Peripherals   87917.842513
5                  Copiers and Fax  129156.684030
6                        Envelopes   46133.223840
7                           Labels   17775.320505
8               Office Furnishings   92209.225867
9                  Office Machines  168072.833340
10                           Paper   35361.621738
11             Pens & Art Supplies    1195.902840
12                    Rubber Bands   -2841.722459
13   Scissors, Rulers and Trimmers   -1936.849120
14          Storage & Organization    8078.804727
15                          Tables  -72495.061875
16    Telephones and Communication  297950.524866

In [360]:
x = h.sort_values(by ='Profit' , ascending = False , ignore_index =True)

In [361]:
x['Product Sub-Category'][9]

'Paper'

In [362]:
df2['loss_product'] = df2['Unit Price'] + df2['Shipping Cost']

In [363]:
df2

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,conv_order_date,con_ship_date,delivery_time,Manager,loss_product
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,2012-05-30,1.32000,2,5.90,88525,2012-05-28,2012-05-30,-2,Chris,3.38
1,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,2010-05-14,803.47050,16,1164.45,86838,2010-05-12,2010-05-14,-2,Chris,98.68
2,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-13,-24.03000,7,22.23,86838,2010-05-12,2010-05-13,-1,Chris,5.59
3,24847,Medium,0.05,3.28,4.20,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-13,-37.03000,4,13.99,86838,2010-05-12,2010-05-13,-1,Chris,7.48
4,24848,Medium,0.05,3.58,1.63,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,2010-05-13,-0.71000,4,14.26,86838,2010-05-12,2010-05-13,-1,Chris,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,25689,Critical,0.10,4.98,4.70,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,2013-10-11,174.38400,15,69.66,88850,2013-10-09,2013-10-11,-2,Sam,9.68
9422,26152,Not Specified,0.00,58.14,36.61,3382,Jon Beasley,Delivery Truck,Corporate,Furniture,...,2011-05-21,12.42600,13,807.21,88842,2011-05-21,2011-05-21,0,Sam,94.75
9423,26153,Not Specified,0.00,29.99,5.50,3382,Jon Beasley,Regular Air,Corporate,Technology,...,2011-05-22,-94.55600,7,218.15,88842,2011-05-21,2011-05-22,-1,Sam,35.49
9424,26154,Not Specified,0.03,16.16,7.74,3382,Jon Beasley,Regular Air,Corporate,Furniture,...,2011-05-23,-5257.04634,1,20.17,88842,2011-05-21,2011-05-23,-2,Sam,23.90
9425,26140,Not Specified,0.04,5.98,7.15,3382,Jon Beasley,Regular Air,Corporate,Office Supplies,...,2013-10-09,-85.90400,3,21.86,88849,2013-10-07,2013-10-09,-2,Sam,13.13

In [371]:
 n =df2[['loss_product', 'Product Sub-Category']].groupby('Product Sub-Category').sum().reset_index()

In [375]:
j = n.sort_values(by = 'loss_product' , ascending = True , ignore_index= True)

In [376]:
j['Product Sub-Category'][9]

'Bookcases'

In [380]:
pd.DataFrame(df2.groupby(['Product Name'])['Product Base Margin'].sum())

                                                    Product Base Margin
Product Name
"While you Were Out" Message Book, One Form per...                 2.10
#10 Self-Seal White Envelopes                                      1.80
#10 White Business Envelopes,4 1/8 x 9 1/2                         5.32
#10- 4 1/8" x 9 1/2" Recycled Envelopes                            6.84
#10- 4 1/8" x 9 1/2" Security-Tint Envelopes                       3.24
...                                                                 ...
i500plus                                                           1.16
i600                                                               1.68
iDEN i550                                                          1.20
iDEN i95                                                           2.36
iDENi80s                                                           2.95

[1263 rows x 1 columns]

In [386]:
 z =df2[['Product Base Margin' ,'Product Name' ]].groupby('Product Name').sum().reset_index()

In [ ]:
Product Base Margin

In [390]:
 p = z.sort_values(by = 'Product Base Margin' , ascending = False , ignore_index =  True)

In [395]:
p['Product Name'][10]

'Serrated Blade or Curved Handle Hand Letter Openers'

In [392]:
p

                                           Product Name  Product Base Margin
0             Global High-Back Leather Tilter, Burgundy                19.98
1     BoxOffice By Design Rectangular and Half-Moon ...                18.33
2                       Bevis 36 x 72 Conference Tables                16.38
3                  Adesso Programmable 142-Key Keyboard                15.45
4                                           Accessory36                14.11
...                                                 ...                  ...
1258  SAFCO Optional Arm Kit for Workspace® Cribbage...                 0.00
1259  SAFCO PlanMaster Heigh-Adjustable Drafting Tab...                 0.00
1260  Safco Value Mate Steel Bookcase, Baked Enamel ...                 0.00
1261                    Safco Contoured Stacking Chairs                 0.00
1262                      SAFCO Boltless Steel Shelving                 0.00

[1263 rows x 2 columns]